{% extends 'base.html.twig' %}

{% block title %}Ajouter reclamation{% endblock %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/table.css" rel="stylesheet" />
{% endblock %}
{%block body%}
    <h1>Ajout Reclamation</h1>
    {{ form_start(form) }}
<div class="card-body">
    <table>
       <tr><td>{{ form_widget(form) }}</td></tr>

    </table>
    {{ form_end(form) }}

</div>
{% endblock %}
