{% extends 'front-office.html.twig' %}

{% block cat %}

{% endblock %}

{% block arrived %}
{% endblock %}

{% block trandy %}
{% endblock %}


{% block shop %}
    <a href="{{ path('front_prod') }}" class="nav-item nav-link">Shop</a>
{% endblock %}

