{% extends 'commandesfront.html.twig' %}
{% block body %}
{{ form_start(form)}}
    {{ form_widget(form) }}
<button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="Submit">save</button>
{{ form_end(form)}}
{% endblock %}
