{% extends 'commandesfront.html.twig' %}
{% block body %}
<!DOCTYPE html>

<html>
<body>

<p align="center" style="font-size:50px; color:red; ">success</p>
<p align="center"> &#128512; &#128151;</p>
</body>
</html>
{% endblock %}